@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Bases de datos de jugadores de la MLS</p>
</div>
<div class="body text-center">
    <br />
    <br />
    <br />
    <form asp-action="Create">
        <label>Tipo de lista:</label><br />
        <label>
            <input type="radio" name="lista" value="s" required />
            Enlace Simple
        </label>
        <label>
            <input type="radio" name="lista" value="d" />
            Enlace Doble
        </label><br />
        <input type="submit" value="Crear"/>
    </form>
</div>