@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>
<h5>Esta página es secreta, usted no debería de estar aquí.</h5>
<div class="text-center">
    <marquee direction="right">Esta aplicación está corriendo desde su computadora. Trate de que no escape :)</marquee>
    <img srcset="https://images3.memedroid.com/images/UPLOADED99/5e80ec7aa4841.jpeg" />
</div>

